#############
# Editor/OS #
#############
.DS_Store
/.idea/

########################
# Third Party/Packages #
########################
/vendor/
/composer.lock

###############
# Build/Cache #
###############
/.phpunit.cache/
/.tmp-*/

#######################
# Local Configuration #
#######################
/Taskfile.yml
/.agents/
/.codex/
